SQL ASSIGNMENT

Q 1) What is a database? Differentiate between SQL and NoSQL databases.

In [3]:
"""A database is a structured system that stores, organizes, and manages data, allowing users to retrieve, manipulate, and store
information efficiently. It ensures data integrity, security, and consistency while enabling smooth interactions with large datasets.
Databases are critical for applications in fields such as banking, e-commerce, healthcare, and social media.

Differences Between SQL and NoSQL Databases:

SQL databases use a relational model, where data is stored in tables with rows and columns. Relationships between tables are
established through foreign keys.
NoSQL databases, on the other hand, use various models such as key-value stores, document-based,
column-family, and graph databases, allowing for more flexible, unstructured, or semi-structured data.

SQL databases have a fixed, predefined schema that requires data to fit into the structure before insertion.
NoSQL databases offer a dynamic schema, meaning they can accommodate different types of data and allow changes in
structure as the application evolves.

SQL databases ensure strong consistency and follow ACID (Atomicity, Consistency, Isolation, Durability)
properties, making them ideal for transactional applications that need to maintain data integrity.
NoSQL databases typically prioritize availability and partition tolerance (as per the CAP theorem) over consistency,
often supporting eventual consistency rather than strict ACID compliance.

SQL databases primarily use vertical scaling (scaling by increasing the hardware capabilities of a single server). In contrast,
NoSQL databases use horizontal scaling (scaling by adding more servers or nodes), which makes it easier to manage large datasets
and handle high traffic.

SQL databases use SQL (Structured Query Language) for querying data, which is standardized and allows for complex queries
involving joins, aggregation, and filtering.
NoSQL databases lack a standardized query language, with each database using its
own query language or API depending on the data model used.

SQL databases are best suited for applications with structured data, complex relationships, and a need for complex
querying, such as banking systems or enterprise applications.
NoSQL databases excel at handling large, distributed, or unstructured data, especially when the data schema
is flexible or changes frequently, making them ideal for real-time analytics, social media platforms, and IoT systems.

Examples of SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server. Examples of NoSQL databases
include MongoDB (document store), Cassandra (column-family store), Redis (key-value store), and Neo4j (graph database).
"""
a=1

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [4]:
"""

DDL stands for Data Definition Language. It refers to a set of SQL commands used to define and manage
the structure of database objects like tables, schemas, and indexes. DDL commands deal with the schema and organization of the data
in the database, rather than the data itself. These commands allow you to create, modify, and remove database structures,
ensuring that the database's architecture aligns with the requirements of the system.

CREATE:

The CREATE command is used to create new database objects such as tables, views, indexes, and databases.
It defines the structure of the database object, including the columns and their data types for a table.
Example:(sql)
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    salary DECIMAL(10, 2)
);
This command creates a table named employees with four columns: id, name, age, and salary.


DROP:
The DROP command is used to delete an existing database object. This command permanently
removes the table, database, or other objects and all of its data.
Once a table is dropped, it cannot be recovered unless a backup exists.
Example:
(sql)
DROP TABLE employees;
This command removes the employees table from the database, including all the data it contains.

ALTER:
The ALTER command is used to modify the structure of an existing database object, such as adding, deleting, or modifying columns in a table.
It allows for changes in the schema without removing the object or its data.
Example:
(sql)
ALTER TABLE employees ADD email VARCHAR(100);
This command adds a new column email to the employees table.

TRUNCATE:
The TRUNCATE command is used to remove all records from a table, but it does not remove the table
 structure itself. The table remains in the database but becomes empty.
TRUNCATE is faster than DELETE because it does not log individual row deletions and does not fire triggers.
Example:
(sql)
TRUNCATE TABLE employees;
This command removes all rows from the employees table, but the table itself
remains in the database and can still be used for future data insertion.
"""
a=1

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [5]:
"""
DML stands for Data Manipulation Language. It refers to the set of SQL commands used to
manage and manipulate data within the database. Unlike DDL (Data Definition Language), which
deals with the structure of the database, DML focuses on the data stored in the database. DML
commands are used to insert, update, delete, and retrieve data from tables. These commands help
in managing the actual content (records or rows) in the database.

DML Commands: INSERT, UPDATE, DELETE

INSERT:
The INSERT command is used to add new records (rows) into a table.
You can insert a single record or multiple records at once.

Example:
(sql)
INSERT INTO employees (id, name, age, salary)
VALUES (1, 'John Doe', 30, 50000.00);

This command inserts a new record into the employees table with the following values:
id: 1
name: 'John Doe'
age: 30
salary: 50000.00

You can also insert multiple records in a single statement:(sql)
INSERT INTO employees (id, name, age, salary)
VALUES (2, 'Jane Smith', 28, 60000.00), (3, 'Alice Brown', 35, 75000.00);

UPDATE:
The UPDATE command is used to modify existing records in a table. You can update one or more columns of a
specific record (or records) that meet a certain condition.
It is essential to include a WHERE clause to specify which records you want to update. If you do not include
a WHERE clause, all records in the table will be updated.

Example:(sql)

UPDATE employees
SET salary = 55000.00
WHERE id = 1;
This command updates the salary of the employee with id 1 to 55000.00.

You can also update multiple records at once:(sql)
UPDATE employees
SET salary = salary + 1000
WHERE age > 30;
This command increases the salary by 1000 for all employees whose age is greater than 30.

DELETE:
The DELETE command is used to remove records from a table. Like UPDATE, it is crucial to use a
WHERE clause to specify which records to delete. If no WHERE clause is provided, all records in the table will be deleted.

Example:(sql)
DELETE FROM employees
WHERE id = 2;
This command deletes the record from the employees table where the id is 2.

You can also delete multiple records at once:(sql)
DELETE FROM employees
WHERE age < 30;
This command deletes all employees whose age is less than 30.
"""
a=2

Q4. What is DQL? Explain SELECT with an example.

In [6]:
"""
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to
query or retrieve data from a database. The primary purpose of DQL is to allow users to fetch data from tables
in a database. DQL consists mainly of the SELECT statement, which is used to retrieve one or more rows of data from
a table based on specified conditions.

The SELECT Statement:
The SELECT statement is the most commonly used SQL command in DQL. It allows you to query
a database and retrieve data based on various criteria. You can specify which columns to retrieve, filter
 the data using conditions, sort it, and even perform calculations.

The SELECT statement is used to retrieve data from a database. A simple SELECT query is used to fetch all the rows and columns from a table without any filtering or sorting.

Syntax:(sql)
SELECT * FROM table_name;
*: This represents all columns in the table.

Example:
Assume we have a table named employees with the following data:

id	name	age	salary
1	John Doe	30	50000
2	Jane Smith	28	60000
3	Alice Brown	35	75000
4	Bob White	40	65000
"""
a=4

Q5. Explain Primary Key and Foreign Key.

In [7]:
"""
Primary Key:
A Primary Key is a column or a combination of columns in a table that uniquely identifies
each row in that table. It ensures that each record in the table is unique and prevents
 duplicate records. A primary key must satisfy two important conditions:
Uniqueness: Each value in the primary key column(s) must be unique for each record in the table.
Not Null: A primary key column cannot contain NULL values. Every record must have a valid value for the primary key.
In most cases, primary keys are used to establish relationships between tables, ensuring data integrity.

Foreign Key:
A Foreign Key is a column (or a combination of columns) in one table that refers
to the primary key column(s) in another table. A foreign key establishes a link between
two tables, ensuring referential integrity. It helps maintain consistency by ensuring
that values in the foreign key column match valid values in the primary key column
of the related table.

The foreign key can accept NULL values unless otherwise restricted. It doesn't need
to be unique, and multiple rows in the referencing table can have the same
foreign key value.
"""
a=5

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [8]:
"""
cursor() Method:

The cursor() method creates a cursor object, which is a pointer used to interact with the MySQL database.
This cursor is needed to execute SQL queries and fetch results. It acts as an intermediary between the Python program and the database.
With the cursor object, you can execute queries, fetch data, and manage database operations.

execute() Method:

The execute() method is used to run a SQL query on the database. It accepts a string containing the SQL query and executes it.
The query can be a SELECT, INSERT, UPDATE, DELETE, or any other valid SQL statement.
"""

# Python code to connect MySQL to python:

"""
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root"
)

mydb.close()

"""

a=6

Q7. Give the order of execution of SQL clauses in an SQL query.

In [9]:
"""
Order of Execution of SQL Clauses in an SQL Query:
In SQL, the clauses in a query are written in a specific order, but they are
executed in a different order. Here is the correct order of execution of SQL clauses:

FROM:
First, the FROM clause is processed. It identifies the tables or views from
which the data will be fetched.

JOIN:
If there are any JOIN operations, they are executed after the FROM clause. This is
where multiple tables are combined based on a specified condition.

WHERE:
The WHERE clause is executed next to filter the rows from the tables, based
on the condition specified.

GROUP BY:
If there is a GROUP BY clause, it groups the rows that share the same values into
summary rows, like "total" or "average", according to the column(s) specified.

HAVING:
The HAVING clause is executed after GROUP BY. It filters the groups formed by
GROUP BY based on a condition.

SELECT:
The SELECT clause is executed after the data is grouped and filtered. This is
where you specify the columns to be returned in the result set.

DISTINCT:
If the DISTINCT keyword is used, duplicates are removed from the result set after
 the selection of columns.

ORDER BY:
After all the filtering and selection of columns, the ORDER BY clause sorts the
result set in the specified order (ascending or descending).
"""
a=7